<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TaskManagerEntities" connectionString="metadata=res://*/Models.TaskManager.csdl|res://*/Models.TaskManager.ssdl|res://*/Models.TaskManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DOTNET;initial catalog=TaskManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>